# Copyright (c) 2025 The FINCH CubeSat Project Flight Software Contributors
# SPDX-License-Identifier: Apache-2.0

config FINCH_LIBCSPTEST
	bool "Testing LIBCSP"
	help
	  This option enables the libcsp test
