/*
 * Copyright (c) 2025 The FINCH CubeSat Project Flight Software Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/g4/stm32g431Xb.dtsi>
#include <dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
	model = "finch,obc";
	compatible = "finch,obc";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &usart1;
	};

	leds: leds {
		compatible = "gpio-leds";
		act_led: led_0 {
			gpios = <&gpioc 2 GPIO_ACTIVE_HIGH>;
			label = "LED0";
		};
		wrn_led: led_1 {
			gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
			label = "LED1";
		};
	};

	aliases {
		led0 = &act_led;
		actled = &act_led;
		led1 = &wrn_led;
		wrnled = &wrn_led;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&pll {
	div-m = <6>;
	mul-n = <85>;
	div-p = <7>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(170)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 DT_SIZE_K(64)>;
		};
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb7 &usart1_rx_pb6>;
	pinctrl-names = "default";
	status = "okay";
};

&pinctrl {
	usart1_rx_pb6: usart1_rx_pb6 {
		pinmux = <STM32_PINMUX('B', 6, AF7)>;
	};

	usart1_tx_pb7: usart1_tx_pb7 {
		pinmux = <STM32_PINMUX('B', 7, AF7)>;
	};
};
