/*
 * Copyright (c) 2025 The FINCH CubeSat Project Flight Software Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/h7/stm32h743Xi.dtsi>

/ {
	model = "finch,pay";
	compatible = "finch,pay";
};

&i2c1 {
    status = "okay";

    ov2640: ov2640@30 {
        compatible = "ovti,ov2640";
        reg = <0x30>;

        port {
            ov2640_ep_out: endpoint {
                remote-endpoint = <&dcmi_ep_in>;
            };
        };
    };
};

&dcmi {
    status = "okay";
    pinctrl-0 = <&dcmi_pins>;
    pinctrl-names = "default";

    port {
        dcmi_ep_in: endpoint {
            remote-endpoint-label = "ov2640_ep_out";
            bus-width = <8>;
            hsync-active = <0>;
            vsync-active = <0>;
            pclk-sample = <1>;
        };
    };
}

&pinctrl {
    dcmi_pins : dcmi_pins {
        pinctrl-names = "default";
        pinmux = <
            STM32_PINMUX('A', 6, STM32_AF13)  //clk
            STM32_PINMUX('H', 8, STM32_AF13)  //hsync
            STM32_PINMUX('I', 5, STM32_AF13)  //vsync
            STM32_PINMUX('H', 9, STM32_AF13)  //d0
            STM32_PINMUX('H', 10, STM32_AF13) //d1
            STM32_PINMUX('H', 11, STM32_AF13) //d2
            STM32_PINMUX('H', 12, STM32_AF13) //d3
            STM32_PINMUX('E', 4, STM32_AF13)  //d4
            STM32_PINMUX('I', 4, STM32_AF13)  //d5
            STM32_PINMUX('E', 5, STM32_AF13)  //d6
            STM32_PINMUX('E', 6, STM32_AF13)  //d7
            STM32_PINMUX('H', 6, STM32_AF13)  //d8
            STM32_PINMUX('H', 7, STM32_AF13)  //d9
            STM32_PINMUX('I', 3, STM32_AF13)  //d10
            STM32_PINMUX('H', 15, STM32_AF13) //d11
            STM32_PINMUX('G', 6, STM32_AF13)  //d12
            STM32_PINMUX('G', 7, STM32_AF13)  //d13
        >;
    };
};
