# Copyright (c) 2025 The FINCH CubeSat Project Flight Software Contributors
# SPDX-License-Identifier: Apache-2.0

menu "FINCH CubeSat Flight Software Libraries"

rsource "ccsds123b/Kconfig"
rsource "libcsp_test/Kconfig"

endmenu
