/{

pinsetup {
	usart1_init_high: usart1_init_high {
		pinmux = <STM32_PINMUX('C', 4, GPIO_IN)>;
		bias-pull-up;
	};

	usart1_main_ready: usart1_main_ready {
		pinmux = <&usart1_tx_pc4 &usart1_rx_pc5>;
	};
};


&usart1 {
	pinctrl-0 = <&usart1_init_high>;
	pinctrl-1 = <&usart1_main_ready>;
	pinctrl-names = "idle", "default";
	current-speed = <115200>;
	status = "okay";
};

};